<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formulario de registro</title>
</head>
<body>
    <h1>Formulario teste</h1>
    registar novo cliente

    campos nome da pessoa, usuario, email, senha
    <form method ="POST">
        <label for="nome_cliente">Seu Nome:</label>
        <input type="text" name="nome_cliente" id="nome_cliente" required>

        <br/>

        <label for="user_cliente">Nome de usuario:</label>
        <input type="text" name="user_cliente" id="user_cliente" required>

        <br/>
        <label for="email">email:</label>
        <input type="email" name="email" id="email" required>
        
        <br/>
        <label for="senha_cliente">senha:</label>
        <input type="password" name="senha_cliente" id="senha_cliente" required>
        
        <br/>

        <button type="submit">Cadastro
    </form>  
    
</body>
</html>